@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,300&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left bottom, #1d5c5c, #196652, #366e3d, #5c7220, #877000, #9e6a00, #b66000, #cf5102, #d24a02, #d64203, #d93805, #dc2c08);
    caret-color: transparent;
}

/* Header */
/* ------------------------------------------------------------------- */
header{
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

header h1{
    font-size: 2rem;
    text-align: center;
    display: inline-block;
    flex:2;
    color: white;

}

.jugador{
    flex:1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jugador .jugador-nombre{
    font-size: 1.5rem;
    color: black;
}

.jugador .jugador-contador{
    font-size: 1rem;
    color: black;
}




/* Card */
/* ------------------------------------------------------------------ */
.container{
    /* background-color: red; */
    width: 96vw;
    height: 88vh;
    padding: 1vh 2vw;
    /* grid */
    display: grid;
    grid-template-columns: repeat(4,1fr) ;
    grid-template-rows: repeat(4,20.9vh) ;
    grid-gap: 1vh;
}

.container .card{
    /* background-color: gray; */
    border-radius: 10%;
    border: black 2px solid;
    box-shadow: black 2px 2px 5px;
    transition: .12s ease-in;
    cursor: pointer;
  
}

.container .card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: .3s ease-in;
    border-radius: 10%;
    
}


.container .card:active{
    transform: scale(0,1);
}

.container .card.facedown{
    
    background-image: url('/src/assets/img/memorama/Facedown.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.container .card.facedown img{
    display: none;
    
}



@media (orientation: landscape) {
    
    /* .container .card img{
        transform: rotate(90deg);
    } */

    .container .card.facedown{
        background-image: url('/src/assets/img/memorama/facedown-landscape.jpg');
        
    }

}

/* @media (orientation: landscape) and (min-width:1250px)  {
    
    .container .card.facedown{
        background-repeat: repeat-x;
        background-size: 50%;
        background-image: url('/src/assets/img/memorama/Facedown.JPG');
    }
} */